@import "../config/scss/variables.scss";
.auction-list-item {
  background-color: #fff;
  padding: 10px;
  width: 31%;
  margin: 1%;
  text-decoration: none;
  user-select: none;
  div {
    margin: 5px 0;
  }
  &:hover {
    opacity: 0.96;
  }
  .title {
    color: $hover;
    font-size: 1.5em;
  }
  .table-data {
    span {
      width: 50%;
      display: inline-block;
      font-size: 1em;
      &:first-child {
        color: #999;
      }
      &:last-child {
        color: #000;
        font-weight: bold;
        text-align: right;
      }
    }
  }
  @media only screen and (max-width: 1024px) {
    width: 48%;
  }
  @media only screen and (max-width: 640px) {
    width: 100%;
    margin: 1% 0;
  }
}
