@import "../config/scss/variables.scss";
.auction-list-item {
  background-color: #fff;
  padding: 10px;
  width: 31.33333%;
  margin: 1%;
  text-decoration: none;
  user-select: none;
  div {
    margin: 5px 0;
  }
  &:hover {
    opacity: 0.96;
  }
  @media only screen and (max-width: 1024px) {
    width: 48%;
  }
  @media only screen and (max-width: 640px) {
    width: 100%;
    margin: 1% 0;
  }
}
