@import "../config/scss/variables.scss";
.bids-container {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #ccc;
  margin-top: 3em;
  padding-top: 2em;
  .title {
    flex: 1;
    margin-right: 3%;
    font-size: 1.3em;
    margin-top: 10px;
  }
  .bids-info {
    flex: 3;
    .bid {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      border-bottom: 1px solid #ccc;
      padding: 10px 0;
    }
  }
}
