@import "../config/scss/variables.scss";

button {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.75;
  font-weight: 500;
  background-color: $primary;
  cursor: pointer;
  padding: 10px 0;
  width: 100%;
  &.secondary {
    background-color: $secondary;
  }
  &:hover {
    opacity: 0.95;
  }
}
