@import "../config/scss/variables.scss";
.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background: white;
  padding: 0.3% 3%;
  .logo {
    font-size: 2em;
    color: $primary;
    font-weight: bold;
    span {
      color: $secondary;
    }
  }
  .navbar-toggle {
    font-size: 2em;
    cursor: pointer;
    color: $primary;
    display: none;
    margin-top: 4px;
  }

  @media only screen and (max-width: 768px) {
    .navbar-toggle {
      display: flex;
    }
  }
}
