@import "../config/scss/variables.scss";
@import "./AuctionListItem.scss";
.new-auction {
  @extend .auction-list-item;
  .icon-container {
    min-height: 2.58em;
    width: 100%;
    text-align: center;
    font-size: 4em;
    padding-top: 0.5em;
    color: $secondary;
  }
}
